<div class="row custum-border mr-0 ml-0 mb-1 mt-1">
    <div class="col-md-1 custom-border-right p-1 text-center ">
        <img src="assets/food.png" width="48px" height="48px" alt="">
    </div>

    <div class="col-md-5 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-info-circle"></i></div>
                <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-info-circle"></i></div>
                <div class="col-md-10">Prénoms</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-phone-alt"></i></div>
                <div class="col-md-10">00221 774507440</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-home blue-color"></i></div>
                <div class="col-md-10">adresse 1 adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-map-marker-alt blue-color"></i></div>
                <div class="col-md-10">12345 Ville</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-globe-europe blue-color"></i></div>
                <div class="col-md-10">Pays</div>
            </div>
        </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link"><i class="fas fa-pencil-alt"></i>&nbsp; Modifier</button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-link"><i class="fas fa-trash-alt"></i>&nbsp; Supprimer</button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-link"><i class="fas fa-list-alt"></i>&nbsp; Détails</button>
            </div>
        </div>
    </div>
</div>
