
  @keyframes barWidth {
    0%   { width: 0%; }
    25%  { width: 50%; }
    50%  { width: 100%; }
    75%  { width: 50%; }
    100% { width: 0%; }
  }
  
  @keyframes barWidth2 {
    0%   { width: 0%; }
    50%  { width: 50%; }
    100% { width: 100%; }
  }
  
  .horizontal-bar-wrap {
    height: 4px;
    width: 100%;
  }
  
  .horizontal-bar-wrap .bar {
    position: relative;
    width: 0%;
    height: 100%;
    margin: 0 auto;
    animation: barWidth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .horizontal-bar-wrap .bar.bar1 {
    animation-delay: 0s;
    background: #007bff;
    top: 0;
    z-index: 1;
  }
  
  .horizontal-bar-wrap .bar.bar2 {
    animation-delay: 2s;
    background: green;
    top: -4px;
    z-index: 2;
  }
  
  .horizontal-bar-wrap .bar.bar3 {
    animation-delay: 4s;
    background: blue;
    top: -8px;
    z-index: 3;
  }
  
  .horizontal-bar-wrap .bar.bar4 {
    animation-delay: 6s;
    background: magenta;
    top: -12px;
    z-index: 4;
  }
  