<div class="row mb-1 mr-0 ml-0  custum-border">
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row text-center ">
            <div class="col-md-12">
                Code article
            </div>
        </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row text-center ">
            <div class="col-md-12">
                Désignation
            </div>
        </div>
    </div>

    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row text-center ">
            <div class="col-md-12">
                6
            </div>
        </div>
    </div>

    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row text-center ">
            <div class="col-md-12">
                12,3
            </div>
        </div>
    </div>

    <div class="col-md-2 mb-1 mt-1">
        <div class="row text-center ">
            <div class="col-md-12">
                73,8
            </div>
        </div>
    </div>
</div>