<div class="row">
    <div class="col-md-5">
        <div class="input-group flex-nowrap">
            <input class="form-control border-end-0 border" type="search" value="rechercher" id="example-search-input">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="offset-md-5 col-md-2">
        <div class="row">
            <div class="col-md-9 text-right">
                <span>Bonjour Mambey</span>
            </div>
            <div class="col-md-3">
                <a href="javascript:void(0);" [routerLink]="['/profil']" >
                    <img src="favicon.ico" alt="" class="rounded-circle">
                </a>
            </div>
        </div>
    </div>
</div>
