<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0"> <h2>Liste des clients</h2> </div>
    
        <div class="col-md-4 text-right ">
            <app-bouton-action (clickEvent)="nouveauClient()"></app-bouton-action>
        </div>
    </div>
    
    <div class="card row m-3 p-1">
      <app-detail-clt-frs></app-detail-clt-frs>
      <app-detail-clt-frs></app-detail-clt-frs>
      <app-detail-clt-frs></app-detail-clt-frs>
      <app-detail-clt-frs></app-detail-clt-frs>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>
