<div class="col mb-3 mt-3">
    <div class="col-md-12">
        <div class="col-md-12 mb-3">
            <h3><i class="fas fa-info-circle blue-color"></i> Nouvelle catégorie</h3>
        </div>

        <div class="col-md-12 mb-3">
            <form action="">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Code categorie" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Description" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-12 text-right m-3 p-3">
        <button class="btn btn-danger mr-3">
            <i class="fas fa-ban"></i>&nbsp;Annuler
        </button>
        <button class="btn btn-primary mr-3">
            <i class="fas fa-save"></i>&nbsp;Enregistrer
        </button>
    </div>
</div>
